<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamish store</title>
</head>
<body>
    <h1>Bienvenido a Gamish</h1>
    <h3>Inicie sesion porfavor</h3>
    <form method="POST" action="/validar">
        Username <input type="text" id="username" name="username"> <br>

        Password  <input type="text" id="password" name="password"><br>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>